.card{
      background-color: #fff;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  cursor: pointer;
  width: 30%;
  min-height: 250px;
}
@media (max-width: 860px) {
  .card {
    width: 40%;
    aspect-ratio: 1/1;
  }
}