dialog{
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 20px;
    align-self: center;
    justify-self: center;
    width: 40%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}