
#root {
  width: 100%;
  padding: 2rem;
  text-align: center;
    font-family: "Roboto", serif;
    
}
.Container{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Board{
  display: flex;
  gap: 20px;
  width: 100%;
  margin-bottom: 50px;
  justify-content: space-between;  /* Key line: pushes left and right items apart */
  align-items: center;             /* Optional: vertically centers items if heights differ */

}
@media (max-width: 488px){
  .Board{
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

}
.scores-container{
  display: flex;
  gap: 20px;
}

.yourBoard, .bestBoard {
  text-align: center;
  padding: 10px 50px; /* Optional: nicer look */
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
     background-color: #f0f4f8;
  color: #333;
     border-radius: 10px; 
     cursor: pointer;
}
.allCharacters {
  align-self: center;
  min-width: 800px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

