
#root {
  width: 100%;
  padding: 2rem;
  text-align: center;
    font-family: "Roboto", serif;
    font-weight: 800;
}
.Container{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.scoreBoard{
  align-self: flex-end ;
  display: flex;
  gap: 50px;
  width: 30%;
  margin-bottom: 50px;

}
.yourBoard, .bestBoard {
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
     background-color: #f0f4f8;
  color: #333;
     border-radius: 10px; 
     width: 50%;
     cursor: pointer;
}
.allCharacters {
  align-self: center;
  min-width: 800px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

