#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.Container {
  padding-top: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

